/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 avr. 2015, 04:19:56
    Author     : bernyse
*/

.container-fluid {
 padding-right: 20px;
  padding-left: 20px; 
   /*background-color: ;    */
margin-top : 100px;
 
}

 .form_D{
   border-color : black;
   }
   

/*body{
color:black;
background-color:  ;
//background-image:url("../../assets/img/abstract-268721_640.jpg");
//background-repeat:no-repeat;
//background-size: cover;
}*/


body{
color:black;
  font-family: italic;      /* Police générale*/
}

.en_tete{
   background-color: black;
}

.partenaires{
    background-color: black;
    background-image:url("");   /* logos partenaires*/
}

.logo{
    background-color: blue;
    background-image:url("");     /* logo evenement */
}

.info_bandeau{
    background-color: greenyellow;
}

.ligne1{
    background-color: #808080;
}

.pseudo {  /*propriétés du pseudo*/
    font-size: large;
    font-color: green;
}

.info_bandeau{      /* propriétés du texte du bandeau*/
   font-family: Arial;
    font-color: black;
}

.row{
      background-color: #808080;
}
.ligne2 {
    background-color: darkslategrey;
}
.container1{
  padding-right: 20px;
  padding-left: 20px;
    background-color: darkslategrey;    /* couleur de fond page*/
     background-image:url(""); /* image de fond page*/
 
}

.row{
  width: 100%;
  background-color: white;
  margin-bottom : 10px;
    padding-left: 20px;
}

.identifier{
    background-color: lightgray;  
    color : white;
    margin-top: 5px; 
}

.rechercher{
    background-color: lightgray;
    margin : auto;
    /*color : royalblue;*/
   margin-left: 35px;
   font-family : georgia;
   margin-top: 5px;

}

.creation{
    background-color: lightgray; 
      margin-top: 5px;   
}


[class*="col-"] {
    display : inline; 
  /*background-color: black;*/
      padding-left: 50px;
  line-height: 30px;
  /*max-width:275px;*/
  text-align: center;
   /*border-radius: 5px 5px 5px 5px;     */
   /*border-left: outset;
     border-right: outset;    */
   margin-bottom : 10px;
   /*width: 100%;*/
   word-wrap:break-word; /* adapte le contenu text à la div */
   background-size:100% auto; /* ADAPTATION de l'image au conteneur */
}


  